<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About me</title>
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Sarabun:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
  </head>
  <body>
    <!--header-->
   
    <!--about-->
    <div class="container">
      <div class="profile-start">
        <div>
          <h2>My profile</h2>
        </div>
      </div>
      <div class="edu">
        <h3>Educational Qualification</h3>
        <p>
          I pursued M.A., M.Phil, B.Ed., and PhD, in English from Bharathidasan
          University. I cracked the UGC-NET Lectureship examination in 1996 and
          acquired PGCTE (1996) and PGDTE (1999) from EFLU (then CIEFL).
        </p>
      </div>
      <div class="designation">
        <h3>Designation</h3>
        <p>
          Associate Professor & Head PG & Research Department of English Nehru
          Memorial College (Autonomous) Affiliated to Bharathidasan University
          Puthanampatti - 621 007 Tiruchirappalli, India
        </p>
      </div>
      <div class="experience">
        <h3>Professional experience</h3>
        <p>
          I have been working in Nehru Memorial College for the past 30 years
          (1994). I was appointed the Head of the
          Department in (2007). I availed myself of the UGC Teacher Fellowship
          for pursuing Doctoral Research under FIP between 2005 and 2007.I received grant
          from UGC for a Minor Research Project entitled Developing Effective
          Strategies for Enriching the Word Power of the First Generation Rural
          Learners and the project was carried out between 2014 and 2016. I served as the Dean,
          Academic Affairs, of Nehru Memorial College between February 2018 and
          February 2022.
        </p>
      </div>
      <div class="papers">
        <h3>Research papers</h3>
        <p>
          I have published 45+ reasearch papers. My research interests
          include American Literature and English Language Teaching (ELT). I
          have published on various topics in reputed national and international
          journals indexed in SCOPUS and Web of Science database.I have been a Board Member of the text book committee of our
          college since 2015.I also served as the Member Secretary of the
          Academic Council and a Member of the Governing Body of our college. I
          have guided 10 M.Phil Candidates, and  One Ph.D scholar successfully.Five ph.D research scholars are working under my supervision now.
        </p>
      </div>
      <div class="seminars">
        <h3>Events(Seminars,Conferences,Publicatons)</h3>
        <p>
          Total No. of Events Organized in leading role: 16 <br> Total No. of Events
          Participated (Orientation Programmes/Refresher Courses/Workshops/FDPs/
          Seminars and Conferences): 74 <br>Total No. of Seminars addressed as
          resource person: 105 <br> Total No. of Webinars addressed as resource
          person: 52 <br> Total No. of Publications (including book chapters &
          journal articles) 45 (4 indexed in Scopus, 3 in WoS, 1 in ERIH PLUS)
        </p>
      </div>
      <div class="awards">
        <h3>Awards</h3>
        <p>
          1. Best NCC Officer in 2007, 2008 <br />
          2. Best Teacher of the year 2020 by the By the Rotary Club of
          Tirunelveli and Teacher's Welfare Organization (TWO), Tirunelveli.
        </p>
      </div>
    </div>
  </body>
</html>
