*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}

header{
    height: 10%;
    width: 100%;
  
    padding: 6% 0;
    text-align: center;
    
    
    
    color:white;
    background: #160909;
    font-size: 2rem;
}
form{

    height: 100%;
    width: 100%;
    padding-top: 10%;
    border:9px;
    background: #1c202b;
    
  
}

main{
    height: 80%;
    width: 100%;
    display:flex;

    

    justify-content:space-between;
    align-items: center;


}


.label, .buttons{
    display:flex;
    justify-self: unset;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 2%;
   
}

.button{
    height: 40px;
    width: 80px;
    border:none;
    border-radius: 8px;
}

.button:hover{
    height: 50px;
    width: 90px;
    border:solid;
    border-style:ridge;
    border-radius: 8px;
    border-color: blueviolet;
    transform:scaleZ(10px);
    transition: all .3s ease;
 

}
input[type=submit]{
    background-color: greenyellow;
}
input[type=reset]{
    background:rgb(254, 3, 3);
}

input[type=text]{
    height: 6ch;
    width: 40ch;
    border-radius: 8px;
    text-indent: 5ch;
}
label{
    height: auto;
    width: 20ch;
    margin: 10px;
    color:white;
    font-size: 1.4rem;

}

input[type=text]:hover{
    height:7ch;
    transition: all .2s ease;

    
    
}

